*{
    margin: 0;
    padding: 0;
}
.logoH{
    width: 120px;
    height: 100px;
    margin-right: 2%;
}
.header{
    display: flex;
    margin: 10vh 0 8vh 3%;
}
.sf{
    font-size: 2.5em;
    letter-spacing: 20px;
    padding-top: 20px;
    -webkit-text-fill-color: rgb(88, 88, 88);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 0 3px 3px rgb(88, 88, 88);
}
.searchB{
    text-align: center;
}
#paragraph{
    color: rgb(88, 88, 88);
    text-align: center;
    margin: 4vh 0;
}


#input{
    width: 40%;
    border: rgb(183, 177, 177) solid 3px;
    padding: 10px 0 10px 25px;
    font-size: 1em;
    color: rgb(183, 177, 177);
    position: absolute;
    right: 2.8%;
}
.in{
    position: relative;
}
.container{
    display: flex;
    width: 25%;
    justify-content: space-between;
}
.butt{
    position: absolute;
    right: 3%;
    top: 3px;
    background: rgb(56, 240, 127);
    padding: 11px 30px;
    letter-spacing: 8px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgb(88, 88, 88);
}
.butt:hover, .butt_clear:hover, .butt_random:hover {
    opacity: 50%;
}
.butt_clear {
    background: rgb(56, 240, 127);
    padding: 11px 40px;
    letter-spacing: 8px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgb(88, 88, 88);
    position: absolute;
    right: 3%;
    top: 60px;
}
.butt_random {
    background: rgb(56, 240, 127);
    padding: 11px 40px;
    letter-spacing: 8px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgb(88, 88, 88);
    position: absolute;
    right: 3%;
    top: 110px;
}
.search {
   height: 20vh
}
strong{
    display: block;
    margin: 2vh 0;
}
@media only screen and (max-width: 768px){
    .searchB{
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    #paragraph{
        text-align: center;
        width: 90%;
        margin: 5vh auto;
    }
    #input{
        width: 50%;
    }
    .butt_random {
        top: 100px;
    }

 
}
@media only screen and (max-width: 320px){
    .searchB{
        text-align: center;
    }
    #paragraph{
        text-align: center;
    }
    .logoH{
        width: 50px;
        height: 50px;
        margin: 2vh 3vw 0 0;
    }
    .sf{
        font-size: 1.5em;
    }
    #input{
        width: 83%;
    }
    .butt{
        padding: 11px 20px;
        letter-spacing: 2px;
    }
    .butt_clear{
        padding: 11px 26px;
        letter-spacing: 2px;
    }
    .butt_random {
        padding: 11px 26px;
        letter-spacing: 2px;
        top: 450px;
        right: 30%
    }
    .header{
        display: block;
        text-align: center;
        margin-top: 3vh;
    }
    .logoH{
        width: 80px;
        height: 70px;
    }
    #paragraph {
        height: 25vh;
    }
}
