/* 
#hero{
    margin: 0;
    height: 70vh;
}
h1 span:nth-of-type(1){
    /* color: rgb(68, 67, 67); */
    /* font-size: 1.5em;
    letter-spacing: 20px;
    text-shadow: black;
    margin-top: 2%;
}
h1 span:nth-of-type(2){
    border-right: black 5px solid;
    font-size: 3em;
    margin-left: 1%;

}
h1 span:nth-of-type(3){
    font-size: 2.5em;
    margin-left: 3%;

}
h1{
    display: flex;
    margin-left: 20%;
    
}
h2{
    font-size: 3em;
    display: flex;
    margin-top: 7%;
    margin-left: 8.5%;
    color: grey;
}
h2 span:nth-of-type(1){
    margin-left: 1%;
}
h2 span:nth-of-type(2){
    margin-left: 2.5%;
}
h2 span:nth-of-type(3){
    margin-left: 1%;
} */
/* #bot1{ */
    /* position: absolute;
    display: flex;
    margin-top: -6%;
    margin-left: 50%; */
/* } */
/* #text{
    display: flex;
    margin-top: -6.9%;
    margin-left: 45%;
    width: 45vw;
    height: 6vh;
    border: grey 4px solid;

}
#bot1{
    /* position: relative; */
    /* margin-left: 77%;
    background: rgb(56, 240, 127);
    position: absolute;
    margin-top: -3.9%;
    height: 6.3%;
    width: 13.6%;
}
p:nth-of-type(1){
    margin-top: 5%;
    margin-left: 8.5%;
    width: 75%;
}
p:nth-of-type(2){
    margin-left: 8.5%;
} */

