#abdulhaq{
    margin: 0;
    padding: 0;
    height: 70vh;
}
#abduh1{
    display: flex;
    margin-left: 20%;
    margin-top: 5%;
    /* align-items: center; */
}
#abduh1s1{
    color: rgb(68, 67, 67);
    font-size: 1.5em;
    letter-spacing: 20px;
    text-shadow: black;
    margin-top: 2%;
    align-items: center;
}
#abduh1s2{
    border-right: black 5px solid;
    font-size: 3em;
    margin-left: 1%;
    align-items: center;
}
#abduh1s3{
    font-size: 2.5em;
    margin-left: 3%;
    align-items: center;
}
#abduh2{
    font-size: 3em;
    display: flex;
    align-items: center;
    margin-top: 7%;
    margin-left: 8.5%;
    color: grey;
}
#abduh2s1{
    margin-left: 1%;
    /* align-items: center; */
}
#abduh2s2{
    margin-left: 2.5%;
    /* align-items: center; */
}
#abduh2s3{
    margin-left: 1%;
    
}
/* #bot1{ */
    /* position: absolute;
    display: flex;
    margin-top: -6%;
    margin-left: 50%; */
/* } */
#buttons{
    margin-top: -4%;
   display: flex;
}
#textbut1{
    display: flex;
    align-items: center;
    margin-left: 45%;
    width: 45vw;
    height: 6vh;
    border: grey 4px solid;
}
#but1{
    /* position: relative; */
   
    background: rgb(56, 240, 127);
    position: absolute;
    /* margin-top: -3.9%; */
    margin-top: 1px;
    height: 6.6%;
    width: 13.6%;
    align-items: center;
}
#abdpara1{
    margin-top: 5%;
    margin-left: 8.5%;
    width: 75%;
}
#abdpara2{
    margin-left: 8.5%;
}
